.DS_Store
__pycache__/grade_optimiser.cpython-311.pyc
__pycache__/helper_functions.cpython-311.pyc
__pycache__/NUSMods_API.cpython-311.pyc
~$data.xlsx
__pycache__/Embed_Modules.cpython-311.pyc
__pycache__/user.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
~$sample_data_2.xlsx
data/~$sample_data.xlsx
